{# 
    Timber example pagination markup source: https://timber.github.io/docs/guides/pagination/#default-pagination 
    
    The number of pages displayed in pagination can be edited via param (see: https://wordpress.stackexchange.com/a/371067) but it won't work with custom queries, since get_pagination is tied to global wp_query. For custom queries to work, the posts per page must param must be equal to global post per page parameter set in Dashboard. For other purposes use pre_get_posts filter

    https://timber.github.io/docs/guides/pagination/#pagination-with-pre_get_posts
    https://wordpress.stackexchange.com/a/89
    https://wordpress.stackexchange.com/a/194368    
    
    See technical notes on improving pagination: https://github.com/timber/timber/issues/58
       
#}

{% if posts.pagination.pages %}
    <div class="pagination">

        <ul class="pages__list">
            {% for page in posts.pagination.pages %}
                <li class="list__item item--page{% if page.link is empty %} item--current{% endif %}">
                    {% if page.link %}
                        <a href="{{page.link}}" title="{{ __('Strona', 'theme') }} {{ page.title }}">
                            <span class="label">{{ page.title }}</span>
                        </a>
                    {% else %}
                        <span class="label">{{page.title}}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <nav class="pagination__nav">
            {% if posts.pagination.prev %}
                <a href="{{posts.pagination.prev.link}}" class="nav__item item--prev">              
                    <span class="label">&laquo; {{ __('Poprzednia strona', 'theme') }}</span>
                    <small>{{ __('Nowsze wpisy', 'theme') }}</small>                   
                </a>
            {% else %}
                <div class="nav__item item--prev item--disabled">                 
                    <span class="label">&laquo; {{ __('Poprzednia strona', 'theme') }}</span>
                    <small>{{ __('Nowsze wpisy', 'theme') }}</small>             
                </div>
            {% endif %}

            {% if posts.pagination.next %}
                <a href="{{posts.pagination.next.link}}" class="nav__item item--next">
                    <span class="label">{{ __('Następna strona', 'theme') }} &raquo;</span>
                    <small>{{ __('Starsze wpisy', 'theme') }}</small>
                </a>
            {% else %}
                <div class="nav__item item--next item--disabled">
                    <span class="label">{{ __('Następna strona', 'theme') }} &raquo;</span>
                    <small>{{ __('Starsze wpisy', 'theme') }}</small>
                </div>
            {% endif %}
        </nav>
    </div>
{% endif %}